body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    user-select: none;
}
#topMenu {
    background-color: #2a2b35;
    border-bottom: 0.052083vw solid #ccc;
    padding: 0.520833vw;
    font-size: 1vw;
}
.menuGroup {
    display: inline-block;
    margin-right: 1.041667vw;
    vertical-align: top;
}
.menuGroup h3 {
    margin: 0 0 0.260417vw 0;
    font-size: 0.729167vw;
    color: rgb(85, 200, 166);
    filter: brightness(120%);
}
.menuItem {
    display: inline-block;
    padding: 0.260417vw 0.520833vw;
    background-color: #ffffff;
    border: 0.052083vw solid #3c3c40;
    margin-right: 0.260417vw;
    cursor: pointer;
    border-radius: 0.260417vw;
}
.menuItem:hover {
    background-color: #e6e6e6;
}
.menuGroup > input[type="color"] {
    width: 3.125vw;
    height: 1.5625vw;
    padding: 0;
    border: none;
    cursor: pointer;
}
.menuGroup > select {
    height: 1.5625vw;
    font-size: 0.729167vw;
    padding: 0 0.260417vw;
}
.mainControls {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.alignWrapper {
    padding: 0;
    margin: 0;
    border-radius: 0.416667vw;
    font-size: 0;
    overflow: hidden;
}
.alignImg {
    padding: 0;
    height: 1.510417vw;
    margin: 0;
    border-radius: 0;
}
.alignImg > img {
    width: 1.5625vw;
}
#mainContent {
    display: flex;
    flex-grow: 1;
}
#controls {
    width: 15.625vw;
    background-color: #383943;
    padding: 1.041667vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
#preview {
    flex-grow: 1;
    padding: 1.041667vw;
    box-sizing: border-box;
    overflow-y: auto;
}
.mainControls > button {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.260417vw;
    margin: 0.260417vw;
    background-color: rgb(15, 123, 91);
    color: rgb(191, 190, 190);
    border: none;
    cursor: pointer;
    border-radius: 0.3125vw;
    font-size: 0.520833vw;
    height: 6.25vw;
    width: 6.25vw;
    transition: 0.15s all;
}
.mainControls > button > img {
    filter:invert(70%);
}
select {
    height: 1.5625vw;
    font-size: 0.78125vw;
}
.mainControls > button:hover {
    background-color: rgb(22, 193, 141);
    color: rgb(255, 255, 255);
    scale: 1.07;
    box-shadow: 0 0 1.041667vw rgba(15, 71, 35, 0.9) inset;
}
.mainControls > button:hover > img {
    filter: invert();
}
input, textarea {
    width: 100%;
    padding: 0.260417vw;
    margin-bottom: 0.520833vw;
}
span {
    text-align: center;
}
.delBtn, .editBtn {
    width: 1.5625vw;
    height: 1.5625vw;
    background-color: #e16969;
    color: #5c1717;
    margin-left: 0.15625vw;
    text-align: center;
    font-size: 0.520833vw;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0.15625vw;
    transition: 0.1s all;
}

.editBtn {
    background-color: #16457a;
    color: #173a5c;
}

.delBtn:hover {
    background-color: #b41010; 
    filter: brightness(150%);
}

.editBtn:hover {
    background-color: #2f8ced;
    filter: brightness(150%);
}

.delBtn > img{
    width: 1.197917vw;
    height: 1.197917vw;
    filter: invert();
}
.editBtn > img {
    width: 1.40625vw;
    height: 1.40625vw;
    filter: invert();
}
.element-buttons {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
#elementList {
    flex-grow: 1;
    overflow-y: auto;
    border: 0.052083vw solid #464750;
    margin-top: 0.520833vw;
    padding: 0.520833vw;
    color: #c8c8ca;
}
.element-item {
    padding: 0.260417vw;
    cursor: pointer;
    border-bottom: 0.052083vw solid #464750;
    align-items: center;
    justify-content: space-between;
    display: flex;
    transition: 0.1s;
    font-size: 0.85vw;
}
.element-item:hover {
    background-color: #3d3e46;
}
.eleSelected {
    background-color: #41424a;
}
.selected {
    background-color: #daddee;
}
.elementsTitle {
    font-size: 1.5625vw;
    margin-bottom: 0;
    color: rgb(19, 170, 125);
    filter: brightness(120%);
}